.radio-input input {
  display: none;
}

.radio-input input:checked + span {
  color: white;
  background: black;
}

.radio-label {
  padding: 5px;
  cursor: pointer;
}

.orientation-button {
  all: unset;
  height: 100%;
  padding: 0 10px 0 10px;
}

.orientation-img {
  width: 15px;
  height: 15px;
}
