.template {
  height: 450px;
  width: 400px;

  margin: 15px 0 15px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.template > img {
  cursor: pointer;
}

.template-info {
  width: 300px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  font-size: 11pt;
}

.template-portrait {
  height: 400px;
  width: 300px;

  outline: 1px solid black;
}

.template-landscape {
  height: 400px;
  width: 300px;
  transform: rotate(90deg);

  outline: 1px solid black;
}
