:root {
  --topbar-height: 60px;
}

.topbar {
  height: var(--topbar-height);
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 7% 0 7%;

  font-size: 12pt;
  font-weight: 600;

  background: black;
  color: white;
}

button.icon-button {
  border: 0;
  background: none;
  color: inherit;

  font: inherit;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  cursor: pointer;
}

.icon-button > img {
  width: 20px;
  height: 20px;

  margin: 0 10px 0 10px;
}

.phantom {
  visibility: hidden;
}

@media(max-width: 470px) {
  .topbar {
    font-size: 10pt;
    padding: 0;
  }

  .icon-button > img {
    width: 15px;
    height: 15px;
  }
}

.upload-area {
  height: 400px;
  width: 300px;

  margin: 15px;

  display: grid;
  place-items: center;
  text-align: center;

  outline: 1px solid black;
}

.upload-area-landscape {
  height: 300px;
  width: 400px;
}

.upload-form {
  margin: 15px;

  place-items: flex-start;
}

.upload-form-line {
  width: 100%;

  display: block;

  margin: 10px;
}

.upload-form-line > p {
  margin: 0;

  font-size: 10pt;
  font-weight: 600;
}

.upload-form-line> label {
  display: block;
}
