:root {
  --topbar-height: 60px;
}

.topbar {
  height: var(--topbar-height);
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 7% 0 7%;

  font-size: 12pt;
  font-weight: 600;

  background: black;
  color: white;
}

button.icon-button {
  border: 0;
  background: none;
  color: inherit;

  font: inherit;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  cursor: pointer;
}

.icon-button > img {
  width: 20px;
  height: 20px;

  margin: 0 10px 0 10px;
}

.phantom {
  visibility: hidden;
}

.faq {
  width: 500px;
  font-size: 11pt;
}

.faq p {
  margin: 25px 0 25px 0;
}

.faq h1 {
  margin: 0;

  font-size: 14pt;
  font-weight: 600;
}

@media(max-width: 470px) {
  .topbar {
    font-size: 10pt;
    padding: 0;
  }

  .icon-button > img {
    width: 15px;
    height: 15px;
  }

  .faq {
    width: 90%;
  }
}

