.drag-and-drop {
  height: 400px;
  width: 400px;

  margin: 15px;

  display: grid;
  place-items: center;
  text-align: center;
}

.upload-area {
  height: 400px;
  width: 300px;

  padding: 15px;

  font: inherit;
  background: inherit;
  border: none;

  display: grid;
  place-items: center;
  text-align: center;

  cursor: pointer;

  outline: 1px solid black;
}

.upload-area-landscape {
  height: 300px;
  width: 400px;
}

.upload-area-drag {
  outline: 3px solid black;
}

.upload-form {
  margin: 15px;

  place-items: flex-start;
}

.upload-form-line {
  width: 100%;

  display: block;

  padding: 10px;
}

.upload-form-line > p {
  margin: 0;

  font-size: 10pt;
  font-weight: 600;
}

.upload-form-line > label {
  display: block;
}

.upload-form-error {
  color: red;
}

.upload-form-submit {
  width: 50%;

  padding: 7px;
  margin-left: 25%;

  font: inherit;
  background: black;
  color: white;
  border: none;

  cursor: pointer;
}
